
/* Recipe-specific styles */

/* ------------------------------------------------------------------
    Recipe List
   ------------------------------------------------------------------ */


/* ------------------------------------------------------------------
    Ingredient List
   ------------------------------------------------------------------ */

#ingredients {

}

#ingredients table {
  border-collapse:collapse;
  margin-bottom:9px;
}
#ingredients td {
  background-color:transparent;
  border:0;
  padding:2px;
}
#ingredients .heading {
  font-size: 14px;
  padding-top: 11px;
  font-weight: bold;
}
#ingredients .product-link,
#ingredients .product-link a {
  font-weight: bold;
}