$(PAGEHEADER)
$(PREVPAGE) $(PAGELIST) $(NEXTPAGE)
	
	</td>
	</tr>

   <!-- Spacer at the bottom of the page -->
	<tr>
	<td width="15" class="leftMenu"><img height="16" width="15" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	<td width="165" class="leftMenu"><img height="16" width="165" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	<td width="15"><img height="16" width="1" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	<td width="280"><img height="16" width="280" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	<td width="15"><img height="16" width="15" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	<td width="165"><img height="16" width="165" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	<td width="15"><img height="16" width="15" src="http://www.celestialseasonings.com/images/site/dot_clear.gif" alt=""></td>
	</tr>

   </table>
   
</body>

</html>